### Tuple

#### Features of tuple
#### 1) Tuples are immutable(values cannot be changed).
#### 2) You cannot extend, append, or sort tuple

In [45]:
# define a tuple
x = (2,3)

In [46]:
# the datatype of the variable x
type(x)

tuple

In [47]:
# check the length of variable x
len(x)

2

In [48]:
# accessing tuple
x[0] # first element

2

In [49]:
# accessing tuple
x[1] # second element

3

In [50]:
# tuple in a tuple
y = ((4,3), (4,4), (5,6), (8,8), (1,2))
y

((4, 3), (4, 4), (5, 6), (8, 8), (1, 2))

In [51]:
type(y)

tuple

In [52]:
y[0]

(4, 3)

In [53]:
y[0][0]

4

In [54]:
y[0][1]

3

In [55]:
y[4]

(1, 2)

#### Python dictionary

#### a dictionary is a map of key against value.
#### they can be referred to as a database.
#### they are mutable.
#### they use curly brackets - {}.

In [56]:
# an empty dictionary
x = {}
x

{}

In [57]:
# a simple dictionary
x = {"age": 56}
x

{'age': 56}

In [58]:
# accessing values
x["age"]

56

In [59]:
x = {"age":[56,57, 58]}
x["age"]

[56, 57, 58]

In [60]:
x = {"age":56,57,58}
x["age"]

SyntaxError: ':' expected after dictionary key (2432496743.py, line 1)

In [61]:
x = {"age": 65, "name": "ademola"}
x

{'age': 65, 'name': 'ademola'}

In [62]:
x["name"]

'ademola'

In [63]:
print(x["age"], x["name"])

65 ademola

In [64]:
# an empty dictionary
desc_of_car = {}
desc_of_car

{}

In [ ]:
amount = {}
amount

In [ ]:
amount["of legs in a trouser"] = 5
amount["of car in a year"] = 13
amount["bookings in a year"] = 12
amount

{'of legs in a trouser': 5, 'of car in a year': 13, 'bookings in a year': 12}

12

In [65]:
# populate the dictionary with data
desc_of_car["manufacturer"] = "toyota"
desc_of_car["color"] = "red"
desc_of_car["yr_of_make"] = 2025

In [66]:
desc_of_car

{'manufacturer': 'toyota', 'color': 'red', 'yr_of_make': 2025}

In [67]:
desc_of_car.get("color")

'red'

In [68]:
desc_of_car["color"]

'red'

#### class task

In [69]:
# create an empty dictionary of person
# fill it with two names, age, height, and sex
person = {}
person

{}

In [ ]:
#person["name"] ='josh','ade'
#person["age"] = 12, 34
#person['height'] = 6.4 ,6.7
#person

In [70]:
person['name1']='josh'
person['age1']= 12
person['height1']= 6.4

In [71]:
person['name2']='ade'
person['age2']= 34
person['height2']=6.7

In [72]:
person

{'name1': 'josh',
 'age1': 12,
 'height1': 6.4,
 'name2': 'ade',
 'age2': 34,
 'height2': 6.7}