#### Given:
#### l1 = [3, 6, 9, 12, 15, 18, 21]
##### Exercise 1: Remove and add item in a list.

##### Exercise 2: Slice list into 3 equal chunks and reverse each chunk.

##### Exercise 3: Count the occurrence of each element from a list.

##### Exercise 4: Extract Unique Dictionary Values to a List.

#### Exercise 5: remove duplicates from a list.

In [ ]:

# Remove and add item in a list
l1 = [3, 6, 9, 12, 15, 18, 21]
#l1.append(30)
#l1
l1.remove(18)
l1

[3, 6, 9, 12, 15, 21, 30]

In [ ]:
 
# Slice list into 3 equal chunks and reverse each chunk.
l1 = [3, 6, 9, 12, 15, 18, 21,34,35,36]
print(l1[:3])
print(l1[3:6])
print(l1[-3:])

[3, 6, 9]
[36, 21, 12, 3]
[12, 15, 18]
[34, 35, 36]

In [18]:
# Count the occurrence of each element from a list.
l1 = [3, 6, 9, 12, 15, 18, 21]
print(l1.count(3))
print(l1.count(6))
print(l1.count(9))
print(l1.count(12))
print(l1.count(15))
print(l1.count(18))
print(l1.count(21))

1
1
1
1
1
1
1

In [19]:
# Extract Unique Dictionary Values to a List.
x = {'meat':30.3,'chicken':12,'beef':14.2 }
print(x)
x.values()

{'meat': 30.3, 'chicken': 12, 'beef': 14.2}

dict_values([30.3, 12, 14.2])

In [22]:
# remove duplicates from a list.
x = [1,1,2,2,3,3,4,4,5,5]
n = list(set(x))
print(n)

[1, 2, 3, 4, 5]

In [23]:
x = [1,1,2,2,3,3,4,4,5,5]
print(set(x))

{1, 2, 3, 4, 5}